.card{
    width: 200px;
    background-color: rgb(101, 119, 118);
    border-radius: 5px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
}
.title{
    color: rgb(240, 255, 253);
}
.img{
    width: 150px;
}
.btn{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: black;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon {
    font-size: 20px;
    color: var(--primary);
}